<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>{{'MENU.REQUEST_CHANGE' | translate}}
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <div class="form-search clearfix">
        <div class="col-sm-9 search-controls">
          <div class="row-no-padding">
            <div class="form-group col-sm-3">
              <label class="sr-only">{{'LABEL.REQUEST_CHANGE.CODE' |translate}}</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-info" aria-hidden="true"></i></div>
                <input type="text" class="form-control input-sm" ng-model="ctrl.requestChange.code" placeholder="{{'LABEL.REQUEST_CHANGE.CODE' |translate}}">
              </div>
            </div>
            <!-- <div class="form-group col-sm-3">
              <label class="sr-only">{{'LABEL.REQUEST_CHANGE.ADDRESS' |translate}}</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <input type="text" class="form-control input-sm" ng-model="ctrl.requestChange.address" placeholder="{{'LABEL.REQUEST_CHANGE.ADDRESS' |translate}}">
              </div>
            </div>
            <div class="form-group col-sm-3">
              <label class="sr-only">{{'LABEL.REQUEST_CHANGE.NUMBER_REQUEST_CHANGE' |translate}}</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-list-ol" aria-hidden="true"></i></div>
                <input type="text" class="form-control input-sm" ng-model="ctrl.requestChange.numberRoleGroup" placeholder="{{'LABEL.REQUEST_CHANGE.NUMBER_REQUEST_CHANGE' |translate}}">
              </div>
            </div> -->
            <button type="submit" class="btn btn-primary btn-sm btn-search-small" ng-click="ctrl.onSearch({pageIndex: 1})">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-sm-3 search-buttons">
          <button type="submit" class="btn btn-primary btn-sm btn-search-large" ng-click="ctrl.onSearch({pageIndex: 1})">
            <i class="fa fa-search"></i> Tìm kiếm
          </button>
          <button type="submit" class="btn btn-primary btn-sm" ng-click="ctrl.onCreate()">
            <i class="fa fa-check"></i> {{ 'BUTTON.ACCEPT' | translate }}</button>
          <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.onDeleteMulti()">
            <i class="fa fa-times"></i> {{ 'BUTTON.REJECT' | translate }}</button>
        </div>
      </div>
      <table class="table table-bordered table-hover" st-table st-click="ctrl.onSearch(paging)">
        <thead>
          <tr>
            <th class="text-center" style="width: 30px">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-click="ctrl.onCheckAll()" ng-model="ctrl.isCheckAll" />
                  <span class="cr">
                    <i class="cr-icon fa fa-check"></i>
                  </span>
                </label>
              </div>
            </th>
            <th>{{ 'LABEL.RESIDENT.CODE' | translate }}</th>
            <th>{{ 'LABEL.RESIDENT.FULL_NAME' | translate }}</th>
            <th>{{ 'LABEL.RESIDENT.ROLE' | translate }}</th>
            <th>{{ 'LABEL.RESIDENT.INFLUENCER' | translate }}</th>
            <th>{{ 'LABEL.BUILDING.CODE' | translate }}</th>
            <th>{{ 'LABEL.FLOOR.CODE' | translate }}</th>
            <th>{{ 'LABEL.APARTMENT.NAME' | translate }}</th>
            <th>{{ 'LABEL.APARTMENT.NAME' | translate }}</th>
            <th>{{ 'LABEL.REQUEST_CHANGE.STATUS' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="model in ctrl.datasource.data">
            <td class="text-center">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-click="ctrl.onCheckItem(model.requestChangeId)" ng-model="ctrl.checkBoxes[model.requestChangeId]" />
                  <span class="cr">
                    <i class="cr-icon fa fa-check"></i>
                  </span>
                </label>
              </div>
            </td>
            <td>{{ model.residentId }}</td>
            <td>{{ model.fullName }}</td>
            <td>{{ model.residentType }}</td>
            <td>{{ model.influencer }}</td>
            <td>{{ model.buildingCode }}</td>
            <td>{{ model.floorCode }}</td>
            <td>{{ model.apartmentName }}</td>
            <td>{{ model.staying }}</td>
            <td>{{ model.requestType }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-default btn-xs" ng-click="ctrl.onShowInfo(model)">
                <i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <div class="col-md-4">
        <sm-records count="ctrl.datasource.totalElement" />
      </div>
      <div class="col-md-4">
        <ul uib-pagination boundary-links="true" ng-show="ctrl.datasource.totalElement > 0" ng-model="ctrl.currentPage" boundary-link-numbers="true"
          max-size="5" ng-change="ctrl.onSearch({pageIndex: ctrl.currentPage})" total-items="ctrl.datasource.totalElement"
          items-per-page="ctrl.datasource.pageSize" class="pagination pagination-sm no-margin" previous-text="&lsaquo;" next-text="&rsaquo;"
          first-text="&laquo;" last-text="&raquo;"></ul>
      </div>
      <div class="col-md-4 text-right">
        <sm-page-size ng-model="ctrl.requestChange.pageSize" />
      </div>
    </div>
  </div>
  <!-- /.box -->
</section>
<!-- /.content -->