<select ng-model="accountType" ng-class="smClass" ng-required="smRequired" ng-readonly="smReadonly">
  <option value>-----{{'LABEL.STAFF.ROLE' | translate}}-----</option>
  <option value="ADMINISTRATOR">{{'LABEL.ACCOUNT_TYPE.ADMINISTRATOR' | translate}}</option>
  <option value="STAFF">{{'LABEL.ACCOUNT_TYPE.STAFF' | translate}}</option>
  <option value="WEB_STAFF">{{'LABEL.ACCOUNT_TYPE.WEB_STAFF' | translate}}</option>
  <option value="RESIDENT">{{'LABEL.ACCOUNT_TYPE.RESIDENT' | translate}}</option>
  <option value="MOBILE">{{'LABEL.ACCOUNT_TYPE.MOBILE' | translate}}</option>
  <option value="WEB">{{'LABEL.ACCOUNT_TYPE.WEB' | translate}}</option>
</select>