 .sm-page {
   transition: 0.1s linear all;
 }

 .sm-page.ng-enter {
   opacity: 0;
   padding-left: 20px;
 }

 .sm-page.ng-leave.ng-leave-active {
   opacity: 1;
   padding-left: 0px;
 }

 .sm-page.ng-leave {
   opacity: 1;
   padding-left: 0px;
 }

 .sm-page.ng-leave.ng-leave-active {
   opacity: 0;
   padding-left: 20px;
 }

 /*-------Style checkbox-------*/

 .checkbox label:after,
 .radio label:after {
   content: '';
   display: table;
   clear: both;
 }

 .checkbox .cr,
 .radio .cr {
   position: relative;
   display: inline-block;
   border: 1px solid #a9a9a9;
   width: 1.2em;
   height: 1.2em;
   margin-right: .5em;
 }

 .radio .cr {
   border-radius: 50%;
 }

 .checkbox .cr .cr-icon,
 .radio .cr .cr-icon {
   position: absolute;
   font-size: .8em;
   line-height: 0;
   top: 50%;
   left: 20%;
 }

 .radio .cr .cr-icon {
   margin-left: 0.04em;
 }

 .checkbox label input[type="checkbox"],
 .radio label input[type="radio"] {
   display: none;
 }

 .checkbox label input[type="checkbox"]+.cr>.cr-icon,
 .radio label input[type="radio"]+.cr>.cr-icon {
   opacity: 0;
   transition: opacity .1s;
 }

 .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
 .radio label input[type="radio"]:checked+.cr>.cr-icon {
   opacity: 1;
 }

 .checkbox label input[type="checkbox"]:disabled+.cr,
 .radio label input[type="radio"]:disabled+.cr {
   opacity: .5;
 }

 .login-page{
  background: url(../assert/images/hapulico.jpg) center center;
  background-size: cover;
 }