<sm-modal-dialog modal-title="{{ 'LABEL.INVOICE.GENERATE' | translate }}" type="update">
    <form novalidate name="formApp" ng-submit="formApp.$valid && ctrl.onSubmit()" class="form-horizontal">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6 no-padding">
                    <label for="monthDate" class="control-label col-sm-5" ng-bind="'LABEL.COMMON.CREATED_DATE' |translate"></label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control" name="monthDate" ng-required="false" uib-datepicker-popup="{{'MM/yyyy'}}" ng-model="ctrl.monthDate"
                                close-text="Close" is-open="ctrl.showDate" />
                            <span class="input-group-addon" ng-click="ctrl.showDate = true">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                            <div class="box-validate">
                                <div ng-show="formApp.monthDate.$dirty && formApp.monthDate.$invalid" class="text-danger">
                                    <i class="fa fa-times text-danger"></i>
                                    <span ng-show="formApp.monthDate.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-edit"></i> {{ 'BUTTON.GENERATE' | translate }}</button>
        </div>
    </form>
</sm-modal-dialog>