<sm-modal-dialog modal-title="{{'LABEL.COMMON.UPDATE'| translate }}" type="update">
    <form novalidate name="formApp" class="form-horizontal" ng-submit="formApp.$valid && ctrl.onSubmit()">
        <input type="hidden" ng-model="ctrl.building.buildingId" />
        <div class="modal-body">
            <div class="form-group">
                <label for="code" class="col-sm-3 control-label required" ng-bind="'LABEL.BUILDING.CODE' |translate"></label>
                <div class="col-sm-9">
                    <input ng-model="ctrl.building.code" type="text" class="form-control" name="code" placeholder="{{'LABEL.BUILDING.PLACE_HOLDER_CODE' | translate}}"
                        maxlength="45" required />
                    <div class="box-validate">
                        <div ng-show="formApp.code.$dirty && formApp.code.$invalid" class="text-danger">
                            <i class="fa fa-times text-danger"></i>
                            <span ng-show="formApp.code.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="col-sm-3 control-label" ng-bind="'LABEL.BUILDING.ADDRESS' |translate"></label>
                <div class="col-sm-9">
                    <input ng-model="ctrl.building.address" type="text" class="form-control" name="address" placeholder="{{'LABEL.BUILDING.PLACE_HOLDER_ADDRESS' | translate}}"
                        maxlength="255" />
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label" ng-bind="'LABEL.BUILDING.DESCRIPTION' |translate"></label>
                <div class="col-sm-9">
                    <input ng-model="ctrl.building.description" type="text" class="form-control" name="description" placeholder="{{'LABEL.BUILDING.PLACE_HOLDER_DESCRIPTION' | translate}}"
                        maxlength="160" />
                </div>
            </div>
            <div class="form-group">
                <label for="numberFloor" class="col-sm-3 control-label" ng-bind="'LABEL.BUILDING.NUMBER_FLOOR' |translate"></label>
                <div class="col-sm-9">
                    <input ng-model="ctrl.building.numberFloor" type="number" class="form-control" name="numberFloor" placeholder="{{'LABEL.BUILDING.PLACE_HOLDER_NUMBER_FLOOR' | translate}}"
                        min="0" max="999"  />
                </div>
            </div>
            <table class="table table-stripped table-hover header-fixed">
                <thead>
                    <tr>
                        <th class="col3">{{ 'LABEL.FLOOR.CODE' | translate }}</th>
                        <th class="col3">{{ 'LABEL.FLOOR.NUMBER_APARTMENT' | translate }}</th>
                        <th class="col3 text-center">Nothing</th>
                    </tr>
                </thead>
                <tbody style="height: 200px">
                    <tr ng-repeat="floor in ctrl.listFloor">
                        <td class="col3">
                            <input type="hidden" ng-model="floor.floorId" />
                            <input type="text" ng-model="floor.code" ng-show="floor.editting" />
                            <span ng-show="!floor.editting">{{floor.code}}</span>
                        </td>
                        <td class="col3">
                            {{floor.numberApartment}}
                        </td>
                        <td class="col3 text-center" class="text-center">
                            <button type="button" class="btn btn-xs" ng-show="floor.editting" ng-click="floor.editting=false">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.onUpdateFloor(floor)">
                                <i ng-class="floor.editting ? 'fa fa-check' : 'fa fa-edit'"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="ctrl.onDeleteFloor(floor)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="col9">
                            <label for="title" class="control-label" ng-bind="'LABEL.FLOOR.INSERT_NEW' |translate"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="col3">
                            <label for="code" class="control-label" ng-bind="'LABEL.FLOOR.CODE' |translate"></label>
                        </td>
                        <td class="col3">
                            <input type="text" name="floorCode" class="form-control input-sm" ng-model="ctrl.floor.code" placeholder="{{'LABEL.FLOOR.PLACE_HOLDER_CODE' |translate}}"
                            />
                            <!-- <input type="number" class="form-control input-sm" ng-model="ctrl.floor.numberApartment"  placeholder="{{'LABEL.BUILDING.NUMBER_APARTMENT' |translate}}" /> -->
                        </td>
                        <td class="col3 text-center" class="text-center">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="ctrl.onCreateFloor()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer">
            <button ng-disabled="!formApp.$dirty || !formApp.$valid" type="submit" class="btn btn-primary">
                <i ng-class="'fa fa-edit'"></i> {{ 'BUTTON.UPDATE' | translate }}</button>
        </div>
    </form>
</sm-modal-dialog>