<sm-modal-dialog modal-title="{{(ctrl.staff.residentId ? 'LABEL.COMMON.UPDATE' : 'LABEL.COMMON.CREATE') | translate }}" type="{{ctrl.staff.residentId ? 'update' : 'create'}}">
    <form novalidate name="formApp" class="form-horizontal" ng-submit="formApp.$valid && ctrl.onSubmit()">
        <input ng-if="ctrl.staff.residentId" type="hidden" ng-model="ctrl.staff.residentId" />
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="surname" class="col-sm-4 control-label required" ng-bind="'LABEL.STAFF.FIRST_NAME' |translate"></label>
                    <div class="col-sm-8">
                        <input ng-model="ctrl.staff.surname" type="text" class="form-control" name="surname" placeholder="{{'LABEL.STAFF.PLACE_HOLDER_SUR_NAME' | translate}}"
                            maxlength="100" required />
                        <div class="box-validate">
                            <div ng-show="formApp.surname.$dirty && formApp.surname.$invalid" class="text-danger">
                                <i class="fa fa-times text-danger"></i>
                                <span ng-show="formApp.surname.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="firstname" class="col-sm-4 control-label required" ng-bind="'LABEL.STAFF.SUR_NAME' |translate"></label>
                    <div class="col-sm-8">
                        <input ng-model="ctrl.staff.firstname" type="text" class="form-control" name="firstname" placeholder="{{'LABEL.STAFF.PLACE_HOLDER_FIRST_NAME' | translate}}"
                            maxlength="100" required />
                        <div class="box-validate">
                            <div ng-show="formApp.firstname.$dirty && formApp.firstname.$invalid" class="text-danger">
                                <i class="fa fa-times text-danger"></i>
                                <span ng-show="formApp.firstname.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="account" class="col-sm-4 control-label required" ng-bind="'LABEL.STAFF.ACCOUNT' |translate"></label>
                    <div class="col-sm-8">
                        <input ng-model="ctrl.staff.account" type="text" class="form-control" name="account" placeholder="{{'LABEL.STAFF.PLACE_HOLDER_ACCOUNT' | translate}}"
                            maxlength="50" required />
                        <div class="box-validate">
                            <div ng-show="formApp.account.$dirty && formApp.account.$invalid" class="text-danger">
                                <i class="fa fa-times text-danger"></i>
                                <span ng-show="formApp.account.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="roleGroupId" class="col-sm-4 required control-label" ng-bind="'LABEL.STAFF.ROLE' |translate"></label>
                    <div class="col-sm-8">
                        <sm-staff-account-type ng-model="ctrl.staff.staffAccountType" ng-required="true" sm-class="form-control" sm-input="true"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label required" ng-bind="'LABEL.STAFF.EMAIL' |translate"></label>
                    <div class="col-sm-9">
                        <input ng-model="ctrl.staff.email" type="email" class="form-control" name="email" placeholder="{{'LABEL.STAFF.PLACE_HOLDER_EMAIL' | translate}}"
                            maxlength="255" required />
                        <div class="box-validate">
                            <div ng-show="formApp.email.$dirty && formApp.email.$invalid" class="text-danger">
                                <i class="fa fa-times text-danger"></i>
                                <span ng-show="formApp.email.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                                <span ng-show="formApp.email.$error.email" ng-bind="'SYSTEM.ERROR.EMAIL' | translate"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="!formApp.$dirty || !formApp.$valid" type="submit" class="btn btn-primary">
                <i ng-class="(ctrl.staff.residentId ? 'fa fa-edit' : 'fa fa-plus')"></i> {{ (ctrl.staff.residentId ? 'BUTTON.UPDATE' : 'BUTTON.CREATE') | translate }}</button>
        </div>
    </form>
</sm-modal-dialog>