<p class="login-box-msg">Đăng nhập hệ thống</p>
<form novalidate name="formLogin" ng-submit="formLogin.$valid && ctrl.onSubmit()">
    <div class="form-group has-feedback">
        <input type="text" class="form-control" name="email" placeholder="{{ 'LABEL.COMMON.EMAIL' | translate }}" ng-model="ctrl.user.email"
            ng-required="true" />
        <i class="fa fa-envelope form-control-feedback" aria-hidden="true"></i>
    </div>
    <div vc-recaptcha key="'6LfWDwUTAAAAAKT-G87DzFLyQNFqw1O-ZxZEzCdY'" ng-model="ctrl.user.captcha"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Lấy mật khẩu</button>
    </div>
    <a ui-sref="login">Về trang <b>đăng nhập</b></a>
    <br>
</form>