<sm-modal-dialog modal-title="{{'LABEL.COMMON.CREATE' | translate }}" type="create">
    <form novalidate name="formApp" class="form-horizontal" ng-submit="formApp.$valid && ctrl.onSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label for="serviceCode" class="col-sm-3 control-label required" ng-bind="'LABEL.SERVICE.CODE' |translate"></label>
                <div class="col-sm-9">
                    <input ng-model="ctrl.service.serviceCode" type="text" class="form-control" name="serviceCode" placeholder="{{'LABEL.SERVICE.PLACE_HOLDER_CODE' | translate}}"
                        maxlength="45" required />
                    <div class="box-validate">
                        <div ng-show="formApp.serviceCode.$dirty && formApp.serviceCode.$invalid" class="text-danger">
                            <i class="fa fa-times text-danger"></i>
                            <span ng-show="formApp.serviceCode.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="serviceName" class="col-sm-3 control-label required" ng-bind="'LABEL.SERVICE.NAME' |translate"></label>
                <div class="col-sm-9">
                    <input ng-model="ctrl.service.serviceName" type="text" class="form-control" name="serviceName" placeholder="{{'LABEL.SERVICE.PLACE_HOLDER_NAME' | translate}}"
                        maxlength="45" required />
                    <div class="box-validate">
                        <div ng-show="formApp.serviceName.$dirty && formApp.serviceName.$invalid" class="text-danger">
                            <i class="fa fa-times text-danger"></i>
                            <span ng-show="formApp.serviceName.$error.required" ng-bind="'SYSTEM.ERROR.REQUIRED' | translate"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="code" class="col-sm-3 control-label" ng-bind="'LABEL.SERVICE.SERVICE_TYPE' |translate"></label>
                <div class="col-sm-9">
                    <sm-service-type ng-model="ctrl.service.serviceType" sm-class="form-control" sm-input="true" />
                </div>
            </div> -->
            <div class="form-group">
                <label for="serviceIntroduction" class="col-sm-3 control-label" ng-bind="'LABEL.SERVICE.INTRODUTION' |translate"></label>
                <div class="col-sm-9">
                    <textarea ng-model="ctrl.service.serviceIntroduction" type="text" class="form-control" id="serviceIntroduction"
                        name="serviceIntroduction" placeholder="{{'LABEL.SERVICE.PLACE_HOLDER_INTRODUTION' | translate}}" rows="3"
                        maxlength="2000" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="!formApp.$dirty || !formApp.$valid" type="submit" class="btn btn-primary">
                <i ng-class="(ctrl.service.serviceId ? 'fa fa-edit' : 'fa fa-plus')"></i> {{ (ctrl.service.serviceId ? 'BUTTON.UPDATE' : 'BUTTON.CREATE') | translate }}</button>
        </div>
    </form>
</sm-modal-dialog>