<!DOCTYPE html>
<html ng-app="login" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hệ thống Hapulico</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <base href="/">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <!-- <div class="login-logo">
            <a href="javascript:void(0)"><b>Hapulico</b> Login</a>
        </div> -->
        <!-- /.login-logo -->
        <div class="login-box-body ">
            <div class="sm-page" ui-view></div>
        </div>
        <!-- /.login-box-body -->
    </div>
</body>

</html>